body {
  font-family: sans-serif;
  font-size: large;
  line-height: 115%;
}

h3, h4, footer i, footer span {
  display: none;
}  

ul {
  paddin: auto 0px;
  margin: auto 0px;
}  

li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
}

footer {
  display: none
}
