body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: large;
  background: beige;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: darkblue;
}


header {
  display: none;
}

.no-display {
  display: none;
}

h3, footer i, footer span {
  display: none;
}

article {
  font-size: 240%;
  line-heigh: 160%;
}  


#blog {
    padding: 10vh 10% 15vh;
    background: white;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

#info {
  padding: 10vh 10% 25vh;
}


ul {
  padding: 0px;
  margin:  0px;
}  

li {
  padding: 0px;
  margin: 0px 1em;
  list-style: none;
  display: inline-block;
}

header {
  float: right:
}    


main {
}  

.centered {
  text-align: center;
}


footer {
  display: none
}


.button1 {
  font-size: 180%;
  color: coral;
}

#logo1 h1 {
  font-family: sans-serif;
   color: #555;
  text-transform: lowercase;
  margin: 0;
  letter-spacing: -.035em;
  font-size: 255%;
}
#logo1 h1 em {
  display: none;
}
#logo1 h1 i {
   color: #888;
  font-style: normal;
  font-weight: normal;
}


#contact-links {
  margin: 2em auto 4em;
}
#contact-links a {
  margin: auto 1em;
}



#soc-nets li a {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-position: center;
  background-repeat: no-repeat;
}
#soc-nets li a>em {
  display: none;
}
#facebook {
  background-image: url(images/f.svg);
}
#twitter {
  background-image: url(images/t.svg);
}
#instagram {
  background-image: url(images/i.svg);
}
#pinterest {
  background-image: url(images/f.svg);
}
